<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/admin/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/Js/common.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<form action="{:U('Admin/Exper/doEdit',array('id'=>$v['id']))}" enctype="multipart/form-data" method="post">
<foreach name='result' item='v'>
<table class="table table-bordered table-hover definewidth m10">
    <tr>
    <input type="hidden" name="id" value="{$v.id}">
        <td width="10%" class="tableleft">标题:</td>
        <td><input type="text" name="title" value="{$v.title}" /></td>
    </tr>
<!--     <tr>
        <td class="tableleft">start time：</td>
        <td><input type="text" name="starttime" value="{$v.starttime}" /></td>
    </tr>   
    <tr>
        <td class="tableleft">learntime：</td>
        <td><input type="text" name="learntime" value="{$v.learntime}" /></td>
    </tr> -->
    <tr>
        <td class="tableleft">版面：</td>
        <td>
            <input type="file" name="experpic" />
        </td>
    </tr>
    <tr>
        <td class="tableleft">专攻：</td>
        <td><input type="text" name="specialize" value="{$v.specialize}"/></td>
    </tr>
<!--     <tr>
        <td class="tableleft">identity：</td>
        <td><input type="text" name="identity" value="{$v.identity}"/></td>
    </tr> -->
    <tr>
        <td class="tableleft">经历:</td>
        <td>
            <textarea name="story">{$v.story}</textarea>
        </td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</foreach>
</form>
</body>
</html>
<script>
    $(function () {       
        $('#backid').click(function(){
                window.location.href="index.html";
         });

    });
</script>