<!DOCTYPE html>
<html>
<head>
	<title>猿客栈--在线Web学习交互新阵地</title>
	<link rel="shortcut icon" href="__PUBLIC__/Index/common/images/bitbug_favicon.ico">
	<link rel="stylesheet" href="__PUBLIC__/admin/public/css/common.css" />
</head>
<body>
<form action="{:U('Admin/Attribute/runAttr')}" method="post">
	<table>
		<tr>
			<td>添加博文属性</td>
		</tr>
		<tr>
			<td>属性名称：</td>
			<td>
				<input type="text" name="name" />
			</td>
		</tr>
		<tr>
			<td>标题颜色：</td>
			<td>
				<input type="text" name="color">
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="保存添加" />
			</td>
		</tr>
	</table>
</form>
</body>
</html>