.layerModel_mask{position:fixed;_position:absolute;z-index:9998;top:0px;left:0px;width:100%;_width:expression(document.body.clientWidth);height:100%;_height:expression(document.body.clientHeight);}
.layerModel_wrapper{color:#444; -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4); -moz-box-shadow:0 0 10px rgba(0,0,0,0.4); box-shadow:0 0 10px rgba(0,0,0,0.4);*border:10px solid #e5dfda;border:10px solid #e5dfda\0;border:10px solid rgba(0,0,0,0);}
/**.layerModel_wrapper{color:#444; border:8px solid #ededed; -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4); -moz-box-shadow:0 0 10px rgba(0,0,0,0.4); box-shadow:0 0 10px rgba(0,0,0,0.4);}**/
.layerModel_wrapper .layerModel_content{background: #fff; }
.layerModel_wrapper .layerModel_content h4{margin: 0;font-family: "Microsoft YaHei", Arial, sans-serif;-moz-user-select:none;}
.layerModel_ownContent{padding: 4px 10px;word-wrap:break-word;white-space:normal;}
.layerModel_wrapper .layerModel_title{ height:32px; line-height:32px; overflow:hidden; color:#666; padding:0 0 0 10px; font-size:14px; border-bottom:1px dotted #e5e5e5; }

.layerModel_wrapper .layerModel_closeBtn{ font-family:arial; font-size:18px; _font-size:12px; font-weight:700; color:#999; text-decoration:none; float:right; display: inline-block;width:24px;height: 32px;line-height: 32px;padding-left: 14px;}
.layerModel_wrapper .layerModel_closeBtn:hover{ color:#333;}

/**.layerModel_wrapper .layerModel_closeBtn{background: url(images/tool.png) no-repeat -89px 0 transparent; display: block; float: right; height: 19px; width: 21px;margin-top: 5px;}
.layerModel_wrapper .layerModel_closeBtn:hover{background-position: -89px -29px;}
 -- border-radius : -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; --
**/


/*框内内容*/

#demo1{width:550px;height: 450px;background: #fff;display: none;}
.pos{
	margin-left: 50px;
}
#title{ 
	margin-top: 50px;
}

#title,#zg{
	margin-bottom: 10px;
	height: 30px;
	width: 400px;
	color: #76ab76;
	font-size: 12px;
	line-height: 30px;
	background: #efffef;
	border: 1px solid #dbf3db;
	outline:none;
	border-radius: 4px;
	padding:0 12px;
}
.xd{
	position: relative;
	margin-left: -4px;
}
.ha{
	position: absolute;
}
#xd{
	margin-left:44px;
	margin-bottom: 20px;
	padding: 10px 16px;
	height: auto;
	outline:none;
	width: 400px;
	line-height: 1.5em;
	color: #76ab76;
	font-size: 12px;
	background: #efffef;
	border: 1px solid #dbf3db;
	border-radius: 4px;
	resize:none;
}
#pic{
	position: absolute;
	width: 80px;
	height: 28px;
	display: inline-block;
	background: red;
	cursor: pointer;
	opacity: 0; 
	filter:Alpha(opacity=0);
}
.pic_btn{
	background: #09f;
	color: #fff;
	display:inline-block;
	width: 80px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	cursor: hand;
}
.form_btn{
	display: block;
	height: 28px;
	width: 90px;
	background: #09f;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 20px auto;
	display: block;
	
}